<form method="POST" action="/uppost" class="mb-3" enctype="multipart/form-data">
                <div class="btn btn-primary btn-sm float-left">
                    <span>Chọn ảnh tiêu đề</span>
                    <input type="file" name="file">
                </div>
                <input type="text" name="content" id="content">
                <button type="submit" class="btn btn-info ml-3">Save</button>
            </form>