<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Báo Điện Tử TH16-News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Thời sự
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Chính trị</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Giao Thông</a>
                    <a class="dropdown-item" href="#">Đô thị</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Pháp luật
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Pháp đình</a>
                    <a class="dropdown-item" href="#">Vụ án</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Thế giới
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Quân sự</a>
                    <a class="dropdown-item" href="#">Tư liệu</a>
                    <a class="dropdown-item" href="#">Phân tích</a>
                    <a class="dropdown-item" href="#">Người Việt 4 phương</a>
                </div>
            </li>
        </ul>
        <div class="mr-4">
            <form class="form-inline my-1 my-lg-0">
            <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
        </form>
        </div>
        <div class="mr-2 ">
            <a href="">
                <i class="far fa-user"></i>
            </a>
        </div>
    </div>
</nav>