<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center mt-3">
                <h1>QUẢN LÍ 16TH-NEWS-LMHT</h1>
            </div>
            <ul class="nav justify-content-center mt-3">
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qltk">Quản lí tài khoản</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/renewed">Gia hạn subcriber</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qlbv">Duyệt bài</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qlpost">Quản lí bài viết đã được đăng</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qleditor">Quản lí editor</a>
                </li>
            </ul>
        </div>
    </div>
</div>