<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center mt-3">
                <h1>QUẢN LÍ 16TH-NEWS-LMHT</h1>
            </div>
            <ul class="nav justify-content-center mt-3">
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qltk">Quản lí tài khoản</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/renewed">Gia hạn subcriber</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qlbv">Duyệt bài</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qlpost">Quản lí bài viết đã được đăng</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qleditor">Quản lí editor</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/catManager">Quản lí Categories</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/tagManager">Quản lí Tag</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="/admin/adminControl/saveRole/{{user._id}}" id="saveRole" method="POST"></form>

            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Chọn phần quyền</option>
                    <option value="writer">Writer</option>
                    <option value="editor">Editor</option>
                </select>
                <a href="javascript: $('#saveRole').submit();" class="btn btn-outline-success">Save</a>
            </div>
        </div>
    </div>
</div>